{% extends 'base.html' %}

{% load static %}

{% block title %}Meu Carrinho{% endblock title %}

{% block content %}
    <!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>Meu Carrinho</h4>
			<div class="site-pagination">
				<a href="">Início</a> /
				<a href="">Carrinho</a> /
			</div>
		</div>
	</div>
	<!-- Page info end -->


	<!-- cart section end -->
	<section class="cart-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="cart-table">
						<h3>Meu Carrinho</h3>
						<div class="cart-table-warp">
							<table>
							<thead>
								<tr>
									<th class="product-th">Produto</th>
									<th class="quy-th">Quantidade</th>
									<th class="total-th">Preço</th>
								</tr>
							</thead>
							<tbody>
								{% for order_item in object.items.all %}
								<tr>
									<td class="product-col">
										<img src="img/{{ item.image }}" alt="">
										<div class="pc-title">
											<h4>{{ order_item.item.name }}</h4>
											<p>{{ order_item.item.price }}</p>
										</div>
									</td>
									<td class="quy-col">
										<div class="quantity">
											<a href="{% url 'cart:remove-single-item-from-cart' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                							{{ order_item.quantity }}
                							<a href="{% url 'cart:cart_add' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
                    					</div>
									</td>
									<td class="total-col">
										{% if order_item.item.discount_price %}
											${{ order_item.get_total_discount_item_price }}
											<span class="badge badge-primary">Saving ${{ order_item.get_amount_saved }}</span>
										{% else %}
											${{ order_item.get_total_item_price }}
										{% endif %}
										<a style='color: red;' href="{% url 'cart:cart_remove' order_item.item.slug %}">
											<i class="fas fa-trash float-right"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
						</div>
						{% if object.get_total %}
						<div class="total-cost">
							<h6>Total <span>{{ object.get_total }}</span></h6>
						</div>
						{% endif %}
					</div>
				</div>
				<div class="col-lg-4 card-right">
					<a href="{% url 'products:list' %}" class="site-btn">Finalizar Compra</a>
					<a href="" class="site-btn sb-dark">Continue Comprando</a>
				</div>
			</div>
		</div>
	</section>
	<!-- cart section end -->

{% endblock content %}