{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}Meu Carrinho{% endblock title %}

{% block content %}
    <!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>Meu Carrinho</h4>
			<div class="site-pagination">
				<a href="">Início</a> /
				<a href="">Carrinho</a> /
			</div>
		</div>
	</div>
	<!-- Page info end -->


	<!-- cart section end -->
	<section class="cart-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="cart-table">
						<h3>Meu Carrinho</h3>

						<div class="cart-table-warp">
							{% if cart %}
							<table>
								<thead>
									<tr>
										<th class="product-th">Produto</th>
										<th class="quy-th">Quantidade</th>
										<th class="total-th">Preço</th>
									</tr>
								</thead>
								<tbody>
									{% for item in cart %}
										{% with product=item.product %}
										<tr>
											<td class="product-col">
												<img src="/img/{{product.image}}" alt="">
												<div class="pc-title">
													 <a target="_blank" class="text-decoration-none" href="{{ product.get_absolute_url }}">
														<h4>{{ product.name }}</h4>
														 <p>R$ {{ item.price }}</p>
													</a>
												</div>
											</td>
											<td class="quy-col">
												<div class="quantity">
													<form action="{% url 'cart:add' product.id %}" method="post">
														{% csrf_token %}
														<div class="form-row">
															<div class="col">
																{% render_field item.update_quantity_form.quantity class+="form-control" %}
															</div>
															<div class="col">
																<input class="btn btn-info" type="submit" value="Atualizar">
															</div>
														</div>
														{{ item.update_quantity_form.override }}
													</form>
												</div>
											</td>
											<td class="total-col">
												<div class="form-row">
													<div class="col">
														R$ {{ item.total_price }}
													</div>
													<div class="col">
														<form action="{% url 'cart:remove' product.id %}" method="post">
															{% csrf_token %}
															<input class="btn btn-danger" value="Remover" type="submit"/>
														</form>
													</div>
												</div>
											</td>
										</tr>
										{% endwith %}
									{% endfor %}
								</tbody>
							</table>
							{% else %}
							<p>O carrinho está vazio!</p>
							{% endif %}
						</div>

						<div class="total-cost">
							<h6>Total <span>R$ {{ cart.get_total_price }}</span></h6>
						</div>
					</div>
				</div>
				<div class="col-lg-4 card-right">
					<a href="" class="site-btn">Finalizar Compra</a>
					<a href="{% url 'products:list' %}" class="site-btn sb-dark">Continue Comprando</a>
				</div>
			</div>
		</div>
	</section>
	<!-- cart section end -->

{% endblock content %}