{% extends 'base.html' %}

{% block title %}Luyza Ana Store | Maquiagens e Acessórios{% endblock %}

{% block content %}
{% load static %}
    <!-- letest product section -->
	<section class="top-letest-product-section">
		<div class="container">
			<div class="section-title">
				<h2>ÚLTIMOS LANÇAMENTOS</h2>
			</div>
			<div class="product-slider owl-carousel">
				{% for product in product_list %}
				<div class="product-item">
					<div class="pi-pic">
						<a href="{{ product.get_absolute_url }}">
							{% if product.image %}
							<img src="/media/{{product.image}}" alt="">
							{% else %}
							<img src="{% static 'img/no_image.jpg' %}" alt="">
							{% endif %}
						</a>
					</div>
					<div class="pi-text">
						<a href="{{ product.get_absolute_url }}">
							<h6>R$ {{ product.price }}</h6>
							<p>{{ product.name }}</p>
						</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- letest product section end -->
{% endblock %}